.check_box_container {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	> div{
	display:flex;
	}
}

.check_box_container_two{
	display:flex;
	flex-wrap:wrap;
	
	> div {
		display:flex;
		margin: 1.5rem;
	}
}